body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

form input[type="text"],
form input[type="password"],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

form input[type="text"]:focus,
form input[type="password"]:focus,
form select:focus {
    border-color: #3273dc;
    outline: none;
    box-shadow: 0 0 5px rgba(50, 115, 220, 0.5);
}

form input[type="submit"] {
    background-color: #3273dc;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

form input[type="submit"]:hover {
    background-color: #2753a5;
}

form p {
    font-size: 0.9rem;
    color: #666;
    text-align: center;
    margin-top: 10px;
}

.container {
    text-align: center;
    padding: 20px;
    margin-top: 70px; /* Ajuste selon la hauteur de la navbar */
}


.container h1 {
    font-size: 1.5rem;
    color: #3273dc;
}

.container form input[type="submit"] {
    background-color: #ff3860;
    color: white;
    width: auto;
    padding: 10px 20px;
}

.container form input[type="submit"]:hover {
    background-color: #e03152;
}