.block {
    background-color: #f5f5f5; /* Couleur de fond douce */
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Fixe la navbar */
    top: 0; /* Place-la en haut de la fenêtre */
    left: 0;
    width: 100%; /* Prend toute la largeur de l'écran */
    background-color: #fff; /* Assure une couleur de fond pour la navbar */
    border-bottom: 1px solid #ddd;
    z-index: 1000; /* Place la navbar au-dessus des autres éléments */
    padding: 10px 20px; /* Ajoute des marges internes */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ajoute un léger effet d'ombre */
}


.header-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #3273dc; /* Couleur primaire de Bulma */
    text-decoration: none;
}

.header-logo:hover {
    color: #2753a5;
}

.header-menu .a {
    margin-left: 10px;
    color: #4a4a4a; /* Couleur de texte Bulma par défaut */
    text-decoration: none;
    font-weight: 500;
}

.header-menu .a:hover {
    color: #3273dc;
}

main {
    padding-top: 80px; /* Pour éviter que le header ne cache le contenu */
    text-align: center;
}


.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    width: 100%; /* Assure que le footer prend toute la largeur */
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center; /* Centre le texte */
    align-items: center;
}

.footer .p {
    margin: 0;
    margin-bottom:30px;
    bottom: 0;
}
        
.avatar-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr); /* mobile default */
}

@media screen and (min-width: 600px) {
    .avatar-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 800px) {
    .avatar-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .avatar-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

.avatar-option {
    text-align: center;
}

.avatar-option input[type="radio"] {
    display: none;
}

.avatar-option img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 3px solid transparent;
    object-fit: cover;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.avatar-option input[type="radio"]:checked + img {
    border-color: #00d1b2;
}