.card,
.box,
.conversation-card {
    padding: 0.5rem 1rem;
}

.profile-picture {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
            margin-bottom: 0.5rem;
}
/* Si vous avez besoin d'un peu plus d'espace pour les champs de formulaire */
.field {
    margin-bottom: 1.5rem;
    /* Ajout d'un espacement entre les champs */
}

textarea {
    resize: vertical;
    /* Permet de redimensionner uniquement verticalement */
}

select {
    max-width: 100%;
    /* S'assure que les select s'étendent sur toute la largeur du conteneur */
}

button {
    margin-top: 1rem;
    /* Ajout d'un petit espacement en haut du bouton */
}

/* Pour un joli espacement entre les deux formulaires */
form.box+form.box {
    margin-top: 1.5rem;
}

/* Pour un alignement cohérent des champs de formulaire */
label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

textarea {
    min-height: 150px;
        /* Une taille minimale de zone de texte */
}
/* Assurez-vous que le parent (navbar) utilise Flexbox */
.navbar-brand {
    display: flex;
    justify-content: space-between;
    /* Garde les éléments à chaque extrémité */
    align-items: center;
    /* Centrer verticalement le contenu */
}

/* Centrer le lien "Accueil" horizontalement dans la navbar */
.navbar-brand .navbar-item.has-text-weight-bold {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* Centre l'élément horizontalement */
}